<div class="container mx-auto my-8 px-4">
  <div class="flex justify-between items-center mb-4">
    <h1 class="h3">Pistas</h1>

    <% if @tracks.any? %>
      <%= link_to 'Nova Pista', new_track_path, class: "btn btn-primary" %>
    <% end %>
  </div>

  <% if @tracks.any? %>
    <div class="bg-white rounded shadow table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @tracks, :name, 'Nome', class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs"><%= sortable @tracks, :location, 'Local', class: 'text-gray-700' %></th>
            <th class="p-3 uppercase text-left text-xs text-gray-700 w-20">Ações</th>
            <%- if current_user.admin %>
              <th></th>
            <% end %>
          </tr>
        </thead>

        <tbody>
        <% @tracks.each do |track| %>
          <tr class="group border-t border-gray-400 hover:bg-gray-100">
                      <td class="p-3">
                        <%= link_to  track.name, track, class: "btn btn-link no-underline" %>
                      </td>
                      <td class="p-3"><%= track.location %></td>
          
            <td>
              <%= link_to "Visualizar", track, class: "btn btn-link no-underline" %>
            </td>
            <%- if current_user.admin %>
              <td>
                <%= link_to 'Excluir', track_path(track), method: :delete, data: { confirm: t("are_you_sure") }, class: 'btn btn-link' %>
              </td>
            <% end %>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>

    <% if @pagy.pages > 1 %>
      <div class="text-center my-6">
        <%== pagy_nav(@pagy) %>
      </div>
    <% end %>

  <% else %>
    <div class="bg-white rounded shadow flex flex-col items-center justify-between p-8 lg:flex-row">
      <%= image_tag "empty.svg", class: "mb-4 lg:w-1/2" %>
      <div class="flex-1 text-center">
        <p class="h3 mb-4">Create your first Track</p>
        <%= link_to 'New Track', new_track_path, class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>
