.container.mx-auto.my-4.px-4
  - if @layout.strategies.count > 1
    %p.instructions
      = form_tag(layout_track_path(id: @track.id), method: :get) do
        Selecione uma estratégia
        .one_line_form
          = hidden_field :layout_id, @layout.id
          = select_tag(:strategy_id, options_from_collection_for_select(@layout.strategies, :id, :name), style: 'width:auto')
          &nbsp;
          = submit_tag('ver', class: 'btn btn-small btn-primary')
        ou
  = link_to 'voltar', track_path(@track)
  %br
  %br
  - if @can_create_one
    %p.instructions
      = link_to 'Colabore e crie a sua estratégia', new_strategy_layout_path(@layout), class: 'btn btn-primary'

  - if @strategy
    = render :partial => 'instructions'
    %br
    %h3
      = @strategy.name
      ( Id:
      = @strategy.id
      )
    = render :partial => 'edit_instructions'
    = image_tag(url_for(@layout.image), width: '100%', id: 'track',  data: { strategy: @strategy.id, notes: @image_notes.to_json, edit: @can_edit })

:javascript
  document.addEventListener("turbolinks:load", function() {
    annotate_layout();
  })
