.container.mx-auto.my-4.px-4
  .max-w-8xl.mx-auto
    .flex.justify-between.items-center.mb-4
      %h1.h3
        = link_to 'Tracks', tracks_path
        \>
        = link_to @track.name, track_path(@track)
        - if @strategy
          \>
          = @strategy.name
          ( StrId:
          = @strategy.id
          ,
          = @strategy.points.count
          pts
          )
      - if @editing
        = link_to 'Ver', show_layout_track_path(@track, strategy_id: @strategy.id), class: "btn btn-link"
        = link_to 'Excluir', destroy_strategy_track_path(@track, strategy_id: @strategy.id), class: "btn btn-link"
      - if @can_edit && !@editing
        = link_to 'Editar', show_layout_track_path(@track, strategy_id: @strategy.id, edit: true), class: "btn btn-link"

    .bg-white.rounded.shadow.p-8
      - if @layout.strategies.count > 1
        %p.instructions
          = form_tag(show_layout_track_path(id: @track.id), method: :get) do
            Selecione uma estratégia
            .one_line_form
              = hidden_field :layout_id, @layout.id
              = select_tag(:strategy_id, options_from_collection_for_select(@layout.strategies, :id, :name, @strategy.id), style: 'width:auto')
              &nbsp;
              = submit_tag('ver', class: 'btn btn-small btn-primary')
        %br
      - if @can_create_one
        %p.instructions
          = link_to 'Colabore e crie a sua estratégia', new_strategy_strategy_path(@layout), class: 'btn btn-primary'

      - if @strategy
        = render :partial => 'instructions'
        - if @editing
          = render :partial => 'edit_instructions'
        = image_tag(url_for(@layout.image), width: '100%', id: 'track', data: { strategy: @strategy.id, edit: @editing })

:javascript

  var mymap;
  var popup = L.popup();

  function onMapClick(e) {
    popup
      .setLatLng(e.latlng)
      .setContent("You clicked the map at " + e.latlng.toString())
      .openOn(mymap);
  }

  function annotate_image(img_id, image_url) {

    mymap = L.map(img_id, {
      crs: L.CRS.Simple
    });

    var bounds = [[0,0], [1000,1000]];
    var image = L.imageOverlay(image_url, bounds).addTo(mymap);
    mymap.fitBounds(bounds);
    var marker = L.marker([500, 500]).addTo(mymap);
    marker.bindPopup("<b>Hello world!</b><br>I am a popup.").openPopup();
    var popup = L.popup()
      .setLatLng([600, 400])
      .setContent("I am a standalone popup.")
      .openOn(mymap);
    mymap.on('click', onMapClick);
  }

  document.addEventListener("turbolinks:load", () => {
    alert('1');
    var image_url = $("#track").attr('src');
    alert(image_url);
    annotate_image('track', image_url );
  })
