.container.mx-auto.my-4.px-4
  .max-w-8xl.mx-auto
    .flex.justify-between.items-center.mb-4
      %h1.h3
        = link_to 'Pistas', tracks_path
        \>
        = link_to @track.name, track_path(@track)
        - if @strategy
          \>
          = @strategy.name
          ( StrId:
          = @strategy.id
          ,
          = @strategy.points.count
          pts
          )
      - if @editing
        = link_to 'Ver', show_layout_track_path(@track, strategy_id: @strategy.id), class: "btn btn-link"
        = link_to 'Excluir', destroy_strategy_track_path(@track, strategy_id: @strategy.id), class: "btn btn-link"
      - if @can_edit && !@editing
        = link_to 'Editar', show_layout_track_path(@track, strategy_id: @strategy.id, edit: true), class: "btn btn-link"

    .bg-white.rounded.shadow.p-8
      - if @layout.strategies.count > 1
        %p.instructions
          = form_tag(show_layout_track_path(id: @track.id), method: :get) do
            Selecione uma estratégia
            .one_line_form
              = hidden_field :layout_id, @layout.id
              = select_tag(:strategy_id, options_from_collection_for_select(@layout.strategies, :id, :name, @strategy.id), style: 'width:auto')
              &nbsp;
              = submit_tag('ver', class: 'btn btn-small btn-primary')
        %br
      - if @can_create_one
        %p.instructions
          = link_to 'Colabore e crie a sua estratégia', new_strategy_strategy_path(@layout), class: 'btn btn-primary'

      - if @strategy
        = render :partial => 'instructions'
        - if @editing
          = render :partial => 'edit_instructions'
        = image_tag(url_for(@layout.image), width: '100%', id: 'track', data: { strategy: @strategy.id, edit: @editing })
:javascript
  reload_points($('#track').imgNotes());
