.container.mx-auto.my-8.px-4
  .max-w-3xl.mx-auto
    .flex.justify-between.items-center.mb-4
      %h1.h3
        = link_to 'Tracks', tracks_path
        \> #{@track.name}
      = link_to 'Edit', edit_track_path(@track), class: "btn btn-link"
    .bg-white.rounded.shadow.p-8
      .mb-4
        %h5 Name
        = @track.name
      .mb-4
        %h5 Location
        = @track.location
      %h2= t('.layouts')
      - if @track.layouts.count > 0
        = render :partial => 'layout_grid'
      = render :partial => 'load_layouts'