.container.mx-auto.my-8.px-4
  .max-w-3xl.mx-auto
    .flex.justify-between.items-center.mb-4
      %h1.h3
        = link_to 'Tracks', tracks_path
        \> #{@track.name}
      = link_to 'Edit', edit_track_path(@track), class: "btn btn-link"
    .bg-white.rounded.shadow.p-8
      .mb-4
        %h5 Name
        = @track.name
      .mb-4
        %h5 Location
        = @track.location
      %h2= t('.layouts')
      - col = 1
      %table.layout_grid
        %tr
        - @track.layouts.order(:name).each do |layout|
          %td.layout_image
            = link_to layout_track_path(id: @track.id, layout_id: layout.id) do
              = image_tag(url_for(layout.image), class: 'layouts_image')
              .rounded-full.py-1.px-4.bg-secondary-500.text-xs.inline-block.text-white.font-bold.leading-normal= layout.strategies.count
          - col += 1
          - if col > 4
            %tr
            - col = 1
      %br
      %br
      %br
      %h4= t(:add_new_layout)
      %br
      = form_tag new_layout_track_path(@track), multipart: true do
        %p
          %label= t(:image)
          = file_field_tag('images[]', multiple: true)
        %p
          %br
          = submit_tag t(:new_layout), class: 'btn'