<div class="container mx-auto my-8 px-4">
  <div class="max-w-3xl mx-auto">
    <div class="flex justify-between items-center mb-4">
      <h1 class="h3"><%= link_to 'Tracks', tracks_path %> > Track #<%= @track.id %></h1>
      <%= link_to 'Edit', edit_track_path(@track), class: "btn btn-link" %>
    </div>

    <div class="bg-white rounded shadow p-8">
            <div class="mb-4">
        <h5>Name</h5>
        <%= @track.name %>
      </div>
            <div class="mb-4">
        <h5>Location</h5>
        <%= @track.location %>
      </div>
          </div>
  </div>
</div>
